* {
    padding: 0;
    margin: 0;
    background-color: #363636;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-smooth: never;
}

body {
    width: 320px;
    height: 256px;
    text-align: center;
    margin: 1rem;
}

.score {
    margin: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.arena {
    border: 2px solid white;
    height: 178px;
    position: relative;
}

.division {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-left: 4px dashed white;
    height: 100%;
    width: 0%;
}

.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: white;
    width: 8px;
    height: 8px;
    left: calc(var(--x) * 1%);
    top: calc(var(--y) * 1%);
    transform: translate(-50%, -50%);
}

.paddle {
    --position: 50;

    position: absolute;
    background-color: white;
    width: 2%;
    height: 25%;
    top: calc(var(--position) * 1%);
    transform: translateY(-50%);
}

.paddle.left {
    left: 5%;
}

.paddle.right {
    right: 5%;
}