* {
    padding: 0;
    margin: 0;
    background-color: #363636;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

body {
    width: 320px;
    height: 256px;
    text-align: center;
    margin: 1rem;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.choose-game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

#choose-game-prompt {
    font-size: 0.75rem;
}

.game-list {
    list-style: none;
    margin: 1rem;
}

.game-link {
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
}

.game-link > a {
    text-decoration: none;
}

#caret {
    margin-right: 0.5rem;
}

.credits {
    font-size: 0.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}